{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/month-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/us-dollar.png' %}" 
      alt="A skater boy month"
    >
  </div>
  <div class="cat-details">
    <h1>The break dow for {{ month.name }}.</h1>
      <h2> In the year {{ month.year }} {{ month.breed }}</h2>
      <h2>The goal for this month is to save $ {{ month.budget }} .</h2>
  </div>
</section>

{% endblock %}