{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cat-detail.css' %}"
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script defer src="{% static 'js/month-detail.js' %}"></script>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/month-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/us-dollar.png' %}" 
      alt="A skater boy month"
    >
  </div>
  <div class="cat-details">
    <h1>The break down for {{ month.name }}.</h1>
      <h2> In the year {{ month.year }} {{ month.breed }}</h2>
      <h2>The goal for this month is to save $ {{ month.budget }} .</h2>
  </div>
      <a href="{% url 'months_delete' month.id %}" class="btn danger">Delete</a>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Expenses</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <form
      action="{% url 'add_expense' month.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ expense_form.as_p }}
      <button type="submit" class="btn submit">Add Expenses</button>
    </form>
    <div class="table-container">
      <h3>Past expense</h3>
    <table class="expense-table">
      <thead>
      <tr>
      <th>Date</th>
      <th>price</th>
      <th>reason</th>
      <th>worth it?</th>
      <th>recurring</th>
      <th>paid</th>
      </tr>
      </thead>
      <tbody>
          <tr>
          {% for expense in month.expense_set.all %}
            <td>{{expense.date}}</td>
            <td>{{expense.price}}</td>
            <td>{{expense.reason}}</td>
            <td>{{expense.get_worthit_display}}</td>
            <td>{{expense.get_recurring_display}}</td>
            <td>{{expense.get_paid_display}}</td>
          </tr>
        {% endfor %}
        
    
    
    

      </tbody>
    </table>
  </div>
    
  </section>
</div>


{% endblock %}