{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cat-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Month List</h1>
  <img src="{% static 'images/banknotes.png' %}" alt="A cool cat" />
  <img src="{% static 'images/bitcoin.png' %}" alt="A happy cat" />
  <img src="{% static 'images/red-bag.png' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/us-dollar.png' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for month in months %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/money-world.png' %}" 
            alt="A skater boy cat"
          >
        </div>
        <h2 class="card-title">{{ month.name }}</h2>
        {% if month.name > 0 %}
        {% else %}
          <p>The budget for  {{ month.name }} is {{ month.budget }}</p>
          <p>The a year {{ month.year }} .</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}