{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/month-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Months</h1>
  <img src="{% static 'images/banknotes.png' %}" alt="Banknotes" />
  <img src="{% static 'images/bitcoin.png' %}" alt="Bitcoin" />
  <img src="{% static 'images/red-bag.png' %}" alt="red bag" />
  <img src="{% static 'images/us-dollar.png' %}" alt="dollar"/>
</section>
<section class="card-container">
  {% for month in months %}
  <div class="card">
    <a href="{% url 'months_detail' month.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/money-world.png' %}" 
            alt="money world"
          >
        </div>
        <div class = "title1">
        <h2 class="card-title">{{ month.name }}</h2>
        {% if month.name > 0 %}
        {% else %}
          <p class= "p">The budget for  {{ month.name }} is {{ month.budget }}</p>
          <p>{{ month.year }}</p>
          </div>
        {% endif %}
      </a>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}